.cabeza {
    position: absolute; 
    top:50px; 
    left:50px; 
    background-color: red; 
    width: 500px; 
    height: 500px;
  }

  .ojo {
    position:absolute; 
    top:100px;  
    background-color:white;
    width: 80px; 
    height: 80px;
  }

  .ojo--izquierdo {
    left: 100px;
  }

  .ojo--derecho {
    right: 100px;
  }

  .pupila {
  position: absolute; 
  top:60px; 
  left:20px; 
  background-color: black; 
  width:20px; 
  height:20px;
  }